<ion-content>

  <div class="green-gradient-bg px-15 bbr-80">
    <ion-row class="ion-align-items-center">
      <ion-col size="1" (click)="back()">
        <ion-icon name="arrow-back-outline" class="fs-24"></ion-icon>
      </ion-col>
      <ion-col size="7">
        <h2 class="header-title">Budget Allocation</h2>
      </ion-col>
      <ion-col size="3" class="align-right">
        <img src="{{userPic}}" (click)="goToProfile()" alt="user profile" class="user-profile">
      </ion-col>
    </ion-row>
    <ion-row style="height:100px;"></ion-row>
  </div>
  <div class="main-content white-bg">   
        <p class="sub-title" *ngIf="allpayChecks?.budgetDetails && allpayChecks?.budgetDetails.length">Budgeted Categories</p>
        <table class="paycheck-table"  *ngIf="allpayChecks?.budgetDetails && allpayChecks?.budgetDetails.length" >
          <tr *ngFor="let exp of allpayChecks?.budgetDetails; let c =index;"> 
            <td width="85%">
              <div class="alignv-center">
                <img src="assets/icon/money.svg" alt="user icon" width="24" height="auto">
                <div class="pl-10">
                  <p>{{allpayChecks?.incomeName}}</p>
                  <p class="paycheck-type"><span class="date-blue">
                      {{allpayChecks?.payDate| date:"dd MMM yyyy"}}</span>{{exp.category}}</p>
                </div>
              </div>
            </td>
            <td>
              <ion-input type="text" readonly text-right innerHTML="{{exp.budgeted | thousandSeparator}}"></ion-input>
            </td>
            <td width="10%" class="ion-text-end" (click)="budgetedit(allpayChecks, exp,c)">
              <ion-icon name="pencil-outline" class="delete-icon fs-24"></ion-icon>
            </td>
          </tr>
        </table>
        <p class="sub-title" *ngIf="listItem?.budgetTemplate && listItem?.budgetTemplate.length">Allocate to</p>
        <table class="paycheck-table" *ngIf="listItem?.budgetTemplate && listItem?.budgetTemplate.length">
          <tbody>
            <tr *ngFor="let itm of listItem.budgetTemplate;let index=index;">
              <td width="75%">
                <div class="alignv-center">
                  <img src="assets/icon/money.svg" alt="user icon" width="24" height="auto">
                  <div class="pl-10">
                    <p>{{allpayChecks?.incomeName}}</p>
                    <p class="paycheck-type"><span class="date-blue">
                      {{date | date:"dd MMM yyyy"}}</span>{{itm.category}}</p>
                  </div>
                </div>
              </td>
              <td width="20%">
                <ion-input type="text" readonly innerHTML="{{itm?.budgeted | thousandSeparator}}"></ion-input>
              </td>
              <td width="5%"class="ion-text-end" (click)="deleteItem(index)">
                <ion-icon name="trash-outline" class="delete-icon fs-24"></ion-icon>
              </td>
            </tr>
          </tbody>

        </table>
        <form [formGroup]="paycheckForm">

          <div class="input-item ion-padding-top-20 allpaychecks">
            <ion-item>
              <ion-label class="ion-no-padding check-boxlabel">
                <span class="font-semibold">Apply to all paychecks like this one</span>
              </ion-label>
              <ion-checkbox style="margin-left: 24px;" formControlName="applyforAll" solt="end"></ion-checkbox>
            </ion-item>
          </div>
          <!-- <div class="input-item ion-padding-top-20">
            <div class="input-group">
              <ion-item line="none">
                <ion-label>Override Existing Budget Template</ion-label>
                <ion-checkbox style="margin-left: 24px;" (ionChange)="valueChange($event.detail.checked)"
                  formControlName="override" solt="end"></ion-checkbox>
              </ion-item>
            </div>
          </div> -->
          <div class="input-item ion-padding-top-20 transactioncategory">
            <p>Transaction Category</p>
            <div class="input-group">
              <ion-input type="text" (ionFocus)="addCategory()" formControlName="categoryName"
                placeholder="Please choose"></ion-input>
            </div>
          </div>
          <div class="input-item ion-padding-top-20 transactionamount">
            <p>Transaction Amount</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <ion-icon name="logo-usd"></ion-icon>
                </span>
              </div>
              <ion-input type="number" formControlName="price" placeholder="Please enter amount"></ion-input>
            </div>
          </div>
          <ng-container *ngFor="let validation of validation_messages.amount">
            <div class="error_label"
              *ngIf="paycheckForm.controls?.price.hasError(validation.type) && (paycheckForm.controls?.price.dirty || paycheckForm.controls?.price.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </form>     
  </div>
</ion-content>
<ion-footer>
   <ion-row style="height:5px;"></ion-row>
   <div class="input-item ion-padding-top-20 addmore">
    <ion-button (click)="addMore()" expand="block" fill="clear" size="small">
      <ion-icon name="add-circle"></ion-icon>
      Add More
    </ion-button>
  </div>
  <div class="input-item">
    <ion-button (click)="Save()" expand="block" class="blue-button">Save</ion-button>
  </div>
</ion-footer>