.user-profile{width: 48px;
    height: 48px;
    background-color: #868686;
    border-radius: 50%;
    border: solid 3px #fff;}
    ion-button{
        --background-color: #24335E !important;
      }