<ion-content>
  <div class="green-gradient-bg px-15 bbr-80">
    <ion-row class="ion-align-items-center">

      <ion-col size="8">
        <h2 class="header-title">Transactions</h2>
      </ion-col>
      <ion-col size="4" class="align-right">
        <!-- <ion-icon name="notifications" class="notification-icon"></ion-icon> -->
        <img src="{{userPic}}" (click)="goToProfile()" alt="user profile" class="user-profile">
      </ion-col>
    </ion-row>
    <ion-row style="height:100px;"></ion-row>
  </div>
  <div class="main-content">
    <ion-segment class="segment-section" [(ngModel)]="transaction" value="paycheck">
      <ion-segment-button value="paycheck" class="paycheck">
        <ion-label>Paycheck</ion-label>
      </ion-segment-button>
      <ion-segment-button value="monthly" class="monthlyfooter monthly">
        <ion-label>Monthly</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-row style="height:10px;"></ion-row>
    <div [ngSwitch]="transaction">
      <div *ngSwitchCase="'paycheck'">
        <div class="paycheck-card">
          <div class="paycheck-content white-bg" *ngIf="filterIncome.length>0">
            <ion-row class="account-section">
              <ion-col size="12">
                <table width="100%">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex alignv-center">
                          <!-- <div class="bank-image"> -->
                          <!-- //icon section -->
                          <!-- </div> -->
                          <img src="assets/icon/sliders.svg" alt="sliders-icon" width="22" height="auto">
                          <div class="pl-8">
                            <p class="filter-title">Employer</p>
                            <div class="d-flex alignv-center">
                              <ion-select (ionChange)="fliter($event)" [(ngModel)]="filter">
                                <ion-select-option value="all">All Employer</ion-select-option>
                                <ion-select-option *ngFor="let income of IncomeSources; let i = index"
                                  value="{{income.id}}">{{income.name}} - {{income.isRepeating ?
                                  'recurring':'non-recurring'}}</ion-select-option>
                              </ion-select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex alignv-center">
                          <img src="assets/icon/sort-by-attributes.svg" alt="sort-icon" width="22" height="auto">
                          <div class="pl-8">
                            <p class="filter-title">Sort</p>
                            <div class="d-flex alignv-center">
                              <ion-select (ionChange)="sort($event)" [(ngModel)]="sorting">
                                <ion-select-option value="date">Date</ion-select-option>
                                <ion-select-option value="name">Name</ion-select-option>
                              </ion-select>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ion-col>
            </ion-row>
            <div class="px-10">
              <table class="paychecklist-table">
                <tbody>
                  <tr *ngFor="let paycheck of filterIncome;let index=index;" (click)="openPayPeriod(paycheck)">
                    <td [ngClass]="setClasses(paycheck,'markAsnew','')" >
                      <p>{{paycheck.name | titlecase}}</p>
                      <p class="" [ngClass]="setClasses(paycheck,'active-paycheck-type','paycheck-type')" ><span class="date-blue">
                          {{paycheck.payDate|date:'dd MMM yyyy'}}</span>{{paycheck.incomeName}}</p>
                    </td>
                    <td class="ion-text-end">
                      <div class="alignv-center">
                      
                        <p class="amount">{{paycheck.totalExpected | thousandSeparator}}</p>
                        <ion-icon name="ellipsis-vertical" class="menu-icon" ></ion-icon>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <ion-row style="height:20px;"></ion-row>

          </div>
          <div class="paycheck-content white-bg" style="margin-top: -7px;" *ngIf="filterIncome.length==0">
            <ion-card class="ion-no-margin transaction-card">
              <div class="ion-padding ion-text-center">
                <ion-icon ios="ios-add" md="md-add" style="zoom:1.5;"></ion-icon>
                <p class="color-black">No Paychecks</p>
              </div>
            </ion-card>
          </div>
          <div class="paycheck-content white-bg" style="margin-top: -7px;">
            <div class="px-10">
              <table class="paychecklist-table">
                <tbody>
                  <tr>
                    <ion-button (click)="addIncome()" class="income" expand="block">
                      Add Income Source
                    </ion-button>
                    <div style="text-align: center;">
                      <!-- <p class="connect-paid fetch-transaction" (click)="addPaycheck()">Click to Fetch Bank Transactions</p> -->
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'monthly'">
        <div class="white-card">
          <h4 class="montly-title d-flex alignv-center" (click)="OpenCalendar()">{{Cal_date}}<ion-icon
              name="chevron-down-circle" class="fs-24 pl-5"></ion-icon>
          </h4>
          <table class="balance-table">
            <thead>
              <tr>
                <th colspan="2">
                  <div class="balance-category" (click)="Openfilter()">
                    <img src="assets/icon/sort-by-attributes.svg" alt="sort-icon" width="22" height="auto">
                    <p class="balance-title d-flex alignv-center">Filter <ion-icon name="chevron-down-circle"
                        class="fs-24 pl-5"></ion-icon>
                    </p>
                  </div>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="balance-category">
                    <img src="assets/icon/money3.svg" alt="money-icon" width="22" height="auto">
                    <p class="balance-title">Current Balance</p>
                  </div>
                </th>
                <th *ngIf="totalReceivedamt>-1">
                  {{totalReceivedamt | thousandSeparator}}
                </th>
                <th *ngIf="0>totalReceivedamt ">
                  <p class="red-amount">{{totalReceivedamt | thousandSeparator}}</p>
                </th>
              </tr>

            </thead>
          </table>
          <div class="px-15">
            <table class="balance-table">
              <tbody>
                <tr *ngFor="let ele of currentMonthPaychecks">
                  <td>
                    <div class="alignv-center">
                      <img [src]="ele?.type=='income' ? 'assets/icon/transaction2.svg': 'assets/icon/transaction1.svg'"
                        alt="transaction icon" width="22" height="auto">
                      <div class="pl-5">
                        <p>{{ele.name}}</p>
                        <p class="paycheck-type"><span class="date-blue">
                            {{ele.payDate|date:'dd MMM yyyy'}}</span>{{ele.incomeName}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="alignv-center-end">
                      <span class="green-amount"
                        *ngIf="ele?.type=='income'">+{{ele.totalReceivedamt < 0 ? (-(ele.totalReceivedamt)  | thousandSeparator) : (ele.totalReceivedamt | thousandSeparator)}}</span> <span
                        class="blue-amount" *ngIf="ele?.type=='expense'">-{{ele.totalReceivedamt | thousandSeparator}}</span>
                      <img
                        [src]="ele?.type=='income' ? 'assets/icon/bookmarkyellow.svg': 'assets/icon/bookmark-red.svg'"
                        src="" alt="bookmark-icon" width="12" height="auto">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <ion-row style="height:80px;"></ion-row> -->
        </div>

      </div>

    </div>
  </div>
  <ion-select style="display: none;" (ionChange)="chooseFilter($event)" #filtered [(ngModel)]="filterIncomes">
    <ion-select-option value="all">All</ion-select-option>
    <ion-select-option value="income">Income</ion-select-option>
    <ion-select-option value="expense">Expense</ion-select-option>
  </ion-select>
  <ion-select style="display: none;" (ionChange)="chooseDate($event)" #calendarDate [(ngModel)]="Cal_date">
    <ion-select-option *ngFor="let month of calendar_dates; let i=index" value="{{i}}">{{month.value}}
    </ion-select-option>
  </ion-select>
</ion-content>