ion-toolbar
{
    --background: #C4CDD6;
}
.main-bg{
  background: rgb(137,151,164);
  --background: linear-gradient(180deg, #C3CCD5 0%, rgb(249, 249, 249) 50%, rgb(255, 255, 255) 100%);
  position: relative;
}
.container{
  padding: 0% 2%;
}
.white-background{
  background-color:#ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
h3 {
font-size: 20px;
line-height: 27px;
color: #3A3B3B;
font-weight: 400;
}
.ion-padding-vertical-6{
padding:6px 0px; 
}
.ion-padding-vertical-4{
  padding:4px 0px; 
  }
.ion-padding-h-14{
padding:0px 14px; 
}
.ion-padding-horizontal-30{
padding:0px 30px;
}
.ion-top-padding-6{
  padding-top:6px; 
  }
.ion-margin-auto{
  margin: auto;
}
.width-70{
  width:70%;
}
.text-size-small{
font-size: 13px;
font-weight: 600;
color: #141414;
letter-spacing: 0.03em;
margin:0px 0px 5px 0px;
}
.price-green{
font-size: 17px;
color: #3C9349;
font-weight:500;
}
.price-red{
  font-size: 17px;
  color:#fd3737;
  font-weight:500;
  }
.dark-green{
color: #656E66;
font-weight: 500;
font-size: 15px;
}
.budget-detail-button{
background-color:#48596B;
color:#fff !important;
height:45px; 
border-radius:20px;
--background: transparent;
--box-shadow: 0 0px 0px 0px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.14),0 0px 0px 0 rgba(0,0,0,0.12);
--opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

.light-grey-bg{
  background-color:#ECEDEF;
}
h4 {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #141414;
  margin-bottom: 4px;
  margin-top: 0px;
}
.small-heading{
  font-size: 13px;  
  margin-top: 3px;
}
.border-radius-10{
  border-radius:10px;
} 
.text-size-18{
  font-size: 18px;
}
td{
  border-bottom:solid 1px #e5e5e5;
  border-collapse: collapse;    
}
tr.last{
 border-bottom: none;
}
th{
  text-align:left;
  font-size: 11px;
  color:black;
  padding:5px 0px;
}
td{
  padding:8px 0px;
  color:gray;
  font-size: 12px;
}
table P{
  margin:0px;
}
.price-bg-green{
  background-color: rgba(45, 90, 78, 0.2);
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  margin: 1px 0px;
  text-align: right;
  display: inline;  
}
.color-light-blue{
  color:#5B99E6;
}
.color-blue{
  color:#3880ff;
}
.color-red{
  color:#fd3737;
}
.color-green{
  color: rgb(45, 90, 78);
}

.circles{
  border-radius:20px;
  width: 10px;
  height:10px;
  display: inline-block;
}

.table-heading{
  display: flex;
  align-items: center;
  margin:5px 0px 0px 0px;
} 
.ion-padding-left-8{
  padding-left:8px;
}
.font-size14{
  font-size:14px;
}
.font-size11{
  font-size:11px;
}
.letter-spacing-1{  
    letter-spacing: 0.02em;
}
.font-weight600{
  font-weight:600;
}.price-bg-red{
  background-color: rgba(200, 65, 65, 0.2);
  padding: 6px 10px 5px 10px;
  border-radius: 12px;
  margin: 1px 0px;
  text-align: right;
  display: inline;
  color: rgb(200, 65, 65);
} 
.warning-red{
  color:red;  
}
.warning-alert{
  float: right;
  padding-right: 15px;
}
.warning-alert::after{
  clear: right;
  
} .spinner{
  left: 42%;
  top: 10%;

}
.red-background{
  background-color:#C44242;
  color:#fff;
}
.yellow-background{
  background-color:#D4801E;
  color:#fff;
}