<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title class="nav-title">
      <div class="logo">
        <img height="40" src="assets/image/logo.png" /> Add Transaction
      </div>

    </ion-title>
    <ion-button (click)="logoutService.logout()" fill="clear" slot="end">
      <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="main-bg">
  <div class="container">
    <ion-row style="height:50px;"></ion-row>
    <h3>
      How would you like to add Transaction?
    </h3>
    <ion-row style="height:25px;"></ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div (click)="upload()" class="list" text-center>
            <img src="assets/image/plaid.png" alt="csv icon" width="46" height="46">
            <p>Plaid Bank<br> Transactions</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <div (click)="manual()" class="list" text-center>
            <img src="assets/image/manual.png" alt="csv icon" width="46" height="46">
            <p>Add Manual<br> Transaction</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
 -->

<ion-content>
  <div class="green-gradient-bg px-15 bbr-80">
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <h2 class="header-title">Add Transaction</h2>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4" class="align-right">
        <!-- <ion-icon name="notifications" class="notification-icon"></ion-icon> -->
        <img src="{{userPic}}" (click)="goToProfile()" alt="user profile" class="user-profile">
      </ion-col>
    </ion-row>
    <ion-row style="height:100px;"></ion-row>
  </div>
  <div class="main-content">
    <div class="paycheck-card">
    <h3>
      How Would You Like to Add Transactions?
    </h3>
    <ion-row style="height:25px;"></ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div (click)="upload()" class="list" text-center>
            <img src="assets/image/plaid.png" alt="csv icon" width="46" height="46">
            <p>Plaid Bank<br> Transactions</p>
          </div>
        </ion-col>
        <ion-col size="6">
          <div (click)="manual()" class="list" text-center>
            <img src="assets/image/manual.png" alt="csv icon" width="46" height="46">
            <p>Add Manual<br> Transaction</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
    
    </div>
    </ion-content>